h1{
    font-family: monospace;
}
/* List of typefaces included with Microsoft Windows:
https://en.wikipedia.org/wiki/List_of_typefaces_included_with_Microsoft_Windows */

p{
    font-size: 20px;
    font-weight: bold;
    font-style: oblique;
    font-family: 'Gaegu', cursive;
    text-align: center
}

#p_two{
    font-family: cursive;
    color: red;
    text-align: left
}
/* Get more font style from google font
https://fonts.google.com/
including two steps:
1. Add link to HTML file
2. Add font-family to CSS file */